 .shop{
  height: 200vh;
  width: 100%;
  font-family: "Gilroy ExtraBold";
  text-align: center;
 }
 .shop > span{
  font-family: "Gilroy SemiBold";
  color: #FF9F0D;
 }
 .shop > h1{
  font-family: "Gilroy ExtraBold";
  margin-top: 0%;
  color: #484848;
  font-size: 40px;
  font-weight: 100;
 }
 .shop > p{
  line-height: 20px;
  font-family: "Gilroy SemiBold";
  color: #717171;
  font-size: 15px;
  margin-bottom: 5%;

 }
 .block-cart{
    display: flex;  
    height: 70%;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: center;

 }

 .shop-cart{
   overflow:  hidden;
  box-shadow:  0 0 2em  rgba(0,0,0,0.11) ;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 30px 30px;
  height: 400px;
  width: 300px;
  border-radius: 0 40px 0 40px;
  background-color:#fff;
 } 
 .shop-cart img{
   width: 100%;
   height: 50%;
   border-radius: 0 40px 0 40px;
 }
 .block-h1{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .block-h1 h1{
  font-family: "Gilroy SemiBold";

   padding: 0 20px;
   margin-top: 5px;
   margin-bottom: 0;
 }
 .block-p{
    text-align: left;
 }
 .block-p p {
  font-family: "Gilroy SemiBold";
  color: #717171;
   padding: 0 20px;
   margin-top: 0 ;
   font-size: 12px;
 }
 .block-p p.especial{
  margin-bottom:  0;
  font-size: 15px;
 }

 .botao-stars{
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .botao-stars button{
   height: 100%;
   cursor: pointer;
   width: 35%;
   border: 0;
   color: #fff;
   margin-top: 21px;
   text-align: center;
   font-size: 65px;
   background-color: #FF9F0D;
   border-radius: 40px 0 0 0;
 }
 .botao-stars button:hover {
  transition: 0.5s;
  border: #FF9F0D;
  color: #FF9F0D;
  background-color: #fff;
}

 .botao-stars .stars{
   margin-top:  60px;
 }

 .botao-loads {
   overflow: hidden;
   margin: 0 auto;
   width: 20%;
   height: 60px;

  }
.botao-loads button {
  width: 60%;
  -webkit-box-shadow: -1px 27px 77px -21px rgba(231,166,26,1);
  -moz-box-shadow: -1px 27px 77px -21px rgba(231,166,26,1);
  box-shadow: -1px 27px 77px -21px rgba(231,166,26,1);
  border: 0;
  color: #fff;
  font-size: 17px;
  border-radius:  30px;
  background-color: #FF9F0D;
  height: 50px;
  font-family: "Gilroy SemiBold";
}
.botao-loads button:hover {
  transition: 0.5s;
  box-shadow: none;
  border: #FF9F0D;
  color: #FF9F0D;
  background-color: #fff;
}
.botao-loads  button:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

@media only screen and (max-width: 860px) {
  .shop{
    height: 2000px;
  }
  .botao-loads  {
    width: 40%;
  }
  
}

@media only screen and (max-width: 750px){
  .shop{
    height: 3950px;
  }
}
@media only screen and (max-width: 450px){
  ::-webkit-scrollbar{
    width: 0px;
  }
  .shop span{
    font-size: 30px;
  }
  .shop > p{
    box-sizing: border-box;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #484848;
  }
  .shop{
    height: 1000px;
    border-bottom: 1px solid #484844;
  }
  .block-h1 h1{
    font-size: 60px;
  }
  .block-p p:first-child{
    font-size: 25px;
  }
  .block-p p.especial{
    font-size: 35px;
  }
  .shop .block-cart{
    flex-wrap: nowrap;
    display: flex;
    overflow-x: scroll;
    width:100%;
    height: 1000px;
    position: absolute;
  }
  .shop .botao-loads{
    display: none;
  }
  .shop .block-cart .shop-cart:first-child{
    margin-left:  3100px; 
  }
  .shop .block-cart .shop-cart:last-child{
  }
  .shop .block-cart .shop-cart{
    flex-shrink: 0;
    width: 570px;
    height: 650px;
  }
  .shop .botao-loads{
    top: 500px;
    position: relative;
  }
  .botao-stars .MuiRating-root{
    font-size: 40px;
  }
  .botao-stars button{
    height: 115px;
    font-size: 90px;
  }
}
