.header{
  height: 800px;
  width: 100%;
  background-image: url('../../utilss/salada-2.png');
  background-repeat: no-repeat ;
  min-height: 800px;
  background-size: contain ;
  background-position: top left;
  font-family: "Gilroy ExtraBold";

}

.conteudo{
  margin-left: 50%;
  padding-top: 120px;
}
.conteudo span{
  color: #FF9F0D;
}
.conteudo h1{
  margin-top: 0%;
  color: #484848;
  width: 80%;
  font-size: 40px;
  font-weight: 100;
}

.conteudo p{
  line-height: 20px;
  font-family: "Gilroy SemiBold";
  color: #717171;
  width: 50%;
  font-size: 15px;
}
.conteudo .btn-learn{
  font-family: "Gilroy ExtraBold";
  -webkit-box-shadow: -1px 27px 77px -31px rgba(231,166,26,1);
  -moz-box-shadow: -1px 27px 77px -31px rgba(231,166,26,1);
  box-shadow: -1px 27px 77px -31px rgba(231,166,26,1);

  height: 50px;
  width: 150px;
  border: 0;  
  font-size: 15px;
  border-radius: 60px;
  color: #fff;
  background-color: #FF9F0D;
}

.conteudo button:hover {
  transition: 0.5s;
  border: #FF9F0D;
  color: #FF9F0D;
  background-color: #fff;
  box-shadow: none;
}
.conteudo button:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
    outline: 0;
} 
.conteudo .btns-play{
  display: flex;
}
.conteudo a{
  display: flex;
  align-items: center;
  color: #717171;
  font-family: "Gilroy";
  text-decoration: none;
}
.conteudo a:hover {
  transition: 0.5s;
  border: #FF9F0D;
  color: #FF9F0D;
  background-color: #fff;
}
.conteudo a img{
  margin-right: 10px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 420px) {
  .header{
    height: 780px;
    min-height:650px;
    background: #fff;
  }
  .conteudo{
    margin: 0;
    text-align:center ;
  }
  .conteudo h1{
    box-sizing: border-box;
    padding-bottom: 20px;
    margin: 0 auto  ;
    width: 80%;
    border-bottom: 1px solid #333;
  }
  .conteudo p:first-child{
    box-sizing: border-box;
    padding-top: 30px;  
  }
  .conteudo p{
    text-align: left;
    padding-top: 20px;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    max-width: 600px;
  }
  .conteudo span{
    font-size: 30px;
  }
  .alinhar-p {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .alinhar-p p{
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
    line-height: 30px;
    font-size: 30px;
  }
  .conteudo .btns-play{
    padding-top: 20px;
    justify-content: center;
  }
  .conteudo .btn-learn {
    height: 98px;
    width: 209px;
    font-size: 20px;
  }
  .conteudo a {
    font-size: 20px;
  }
  .conteudo a img {
    height: 90px;
    width: 90px;
  }

}