.component-work{
  height: 100vh;
  width: 100%;
  text-align: center;
}

.component-work span{
  font-family: "Gilroy SemiBold";

  color: #FF9F0D;
}
.component-work h1{
  font-family: "Gilroy ExtraBold";
  margin-top: 0%;
  color: #484848;
  font-size: 40px;
  font-weight: 100;
}

.component-work p{
    line-height: 20px;
    font-family: "Gilroy SemiBold";
    color: #717171;
    font-size: 15px;
    margin-bottom: 5%;
}
.times-work{ 
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy ExtraBold";

}
 .carts-work{
  box-shadow:  0 0 2em  rgba(0,0,0,0.11) ;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0 30px;
  height: 100%;
  width: 20%;
  border-radius: 0 60px 0 60px;
  background-color:#fff;
}
.carts-work h1{
  margin-top: 40px;
  font-weight: bold;
  color: #484848;
  font-size: 20px;
}
.carts-work img:hover{
  transform: rotate(35deg);
}
.carts-work img{
  height: 60px;
  width: 60px;
  margin-top: 40px;
}
.carts-work p {
  margin-left: 15%;
  font-family: "Gilroy SemiBold"; 
  color: #717171;
  font-size: 12px;
  font-weight: bold;
  max-width: 200px;
}
@media only screen and (max-width: 860px) {
  .times-work{
    margin-top: 400px;
    flex-direction: column;
  }.component-work{
    height: 1300px;
  }
  .carts-work{
    width: 300px;
    margin-bottom: 30px;
  }
}